@using LaboratoryWork3.Models.Data
@using System.Diagnostics
@using System.ComponentModel.DataAnnotations
@using LaboratoryWork3.Models.Services
@using Microsoft.AspNetCore.Components.Forms
@inject CustomAuthenticationStateProvider CustomAuthStateProvider

<Modal @ref="SignUpModal" Class="custom-modal">
    <div class="custom-modal-wrapper">
        <ModalHeader Class="custom-modal-header">
            <h3>Register</h3>
        </ModalHeader>
        <ModalBody Class="custom-modal-body">
            <EditForm Model="@user" OnValidSubmit="@SignUpUser">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input id="email" class="form-control" @bind="@user.Email"/>
                    <ValidationMessage For="@(() => user.Email)"/>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input id="password" type="password" class="form-control" @bind="@user.Password"/>
                    <ValidationMessage For="@(() => user.Password)"/>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </EditForm>
        </ModalBody>
    </div>
</Modal>

@code {
    private User user = new User();
    private Modal SignUpModal;

    private async Task  SignUpUser()
    {
        await CustomAuthStateProvider.SignUp(user);
        await SignUpModal.Hide();
    }

    public void Show() => SignUpModal.Show();
}
